includes:
    - vendor/craftcms/phpstan/phpstan.neon

parameters:
    level: max
    paths:
        - src
    stubFiles:
        - .phpstorm.meta.php/Container.stub
        - .phpstorm.meta.php/Craft.stub
        - .phpstorm.meta.php/functions.stub
    ignoreErrors:
        - message: '#Method happycog\\craftmcp\\Settings::defineRules\(\) should return array<string, mixed> but returns#'
          path: src/Settings.php
